@font-face {
  font-family: "bastillefontmedium";
  src: url("bastillefont-webfont.eot");
  src: url("bastillefont-webfont.eot?#iefix") format("embedded-opentype"), url("bastillefont-webfont.woff2") format("woff2"), url("bastillefont-webfont.woff") format("woff"), url("bastillefont-webfont.ttf") format("truetype"), url("bastillefont-webfont.svg#bastillefontmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@keyframes naar-boven {
  0% {
    margin-top: 0; }
  45% {
    margin-top: -80px; }
  100% {
    margin-top: -455px; } }
@keyframes naar-beneden {
  0% {
    margin-top: -455px; }
  100% {
    margin-top: 0; } }
#page .container {
  margin: 0 auto;
  width: 100%; }
  #page .container .wrap {
    padding: 10px 10px; }
  #page .container .article-wrap img {
    max-width: 94vw; }
  #page .container .youtube-video {
    width: 94vw;
    height: 30vh; }
#page .cd-cover img {
  width: 300px; }
#page #thumbnails {
  border: 3px solid #e1e1e1;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap; }
  #page #thumbnails #index-article-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    border-bottom: 3px solid #e1e1e1; }
  #page #thumbnails .thumb-wrap {
    display: block;
    flex-direction: column;
    width: 30%;
    padding: 0 0.6em; }
    #page #thumbnails .thumb-wrap h1 {
      font-size: 1.2em; }
    #page #thumbnails .thumb-wrap .small-image img {
      width: 100%;
      height: 10em; }
@media (min-width: 768px) {
  #page .container {
    width: 750px; }
    #page .container .imageDiv img {
      max-width: 600px; }
    #page .container .youtube-video {
      width: 600px;
      height: 337px; }
    #page .container .wrap {
      padding: 30px 30px; }
  #page #content {
    margin: 30px auto; } }
@media (min-width: 992px) {
  #page .container {
    width: 970px; }
    #page .container #primary {
      width: 70%; }
    #page .container #secondary {
      width: 30%; } }
@media (min-width: 1200px) {
  #page .cd-cover img {
    width: 365px; }
  #page .container {
    width: 1170px; }
    #page .container #primary {
      width: 75%; }
    #page .container #secondary {
      width: 25%; }
    #page .container .imageDiv img {
      max-width: 750px; }
    #page .container .youtube-video {
      width: 750px;
      height: 422px; } }
@media (min-width: 594px) {
  #page header {
    height: 95px; }
    #page header #nav-bar {
      float: right; }
      #page header #nav-bar ul .nav-li {
        float: left;
        height: 100px;
        box-sizing: border-box; }
        #page header #nav-bar ul .nav-li .nav-link {
          display: block;
          padding: 42px 10px 42px; }
  #page #down-dropper {
    cursor: default; }
    #page #down-dropper #drop-down {
      display: none;
      background-color: white;
      border: 1px solid #1DABB8;
      position: absolute; }
      #page #down-dropper #drop-down li {
        padding: 20px; }
    #page #down-dropper:hover #drop-down {
      display: table; } }
@media (max-width: 593px) {
  #page #thumbnails .thumb-wrap {
    width: 94vw;
    padding: 0; }
  #page header #nav-bar {
    float: none; }
    #page header #nav-bar ul li {
      float: none; }
      #page header #nav-bar ul li .nav-link {
        padding: 5px 0; }
  #page #drop-down {
    display: none; }
  #page article div {
    text-align: justify; } }

#page {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f6f6; }
  #page .cd-cover {
    float: left;
    margin-right: 0.3em; }
  #page #last-cd-cover {
    margin-right: 0; }

.container {
  margin: auto; }

.bastille-font {
  font-family: "bastillefontmedium", sans-serif;
  font-size: 1.7em;
  margin: 0.1em 0;
  font-weight: 200; }

#content {
  background-color: white;
  flex: 1 0 auto;
  box-sizing: border-box; }
  #content .wrap {
    flex: 1 0 auto; }
  #content .home-page {
    display: block;
    float: left; }
  #content #secondary .dark-button {
    line-height: 25px;
    background-color: #272727;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 20px;
    border-color: #272727;
    display: block;
    font-size: 12px;
    margin-bottom: 8px; }
    #content #secondary .dark-button:hover {
      background-color: #1DABB8; }

ul, li, nav {
  padding: 0;
  margin: 0; }

header {
  background-color: white;
  float: left;
  border-bottom: 5px solid #1DABB8; }
  header .logo {
    display: inline-block; }
    header .logo .site-title {
      font-size: 40px;
      text-transform: uppercase;
      font-family: "bastillefontmedium", sans-serif;
      margin: 0.5em 0 0.1em 0; }
      header .logo .site-title div {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: -0.3em 0; }
  header #nav-bar ul {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600; }
    header #nav-bar ul .nav-li:hover {
      background-color: #f6f6f6;
      border-bottom: 5px solid #272727; }

#comments {
  margin-top: 15px; }
  #comments #comment-form {
    box-sizing: border-box;
    padding: 15px; }
    #comments #comment-form textarea {
      display: block;
      width: 100%; }
  #comments .comment {
    border: 1px solid #e1e1e1;
    margin-top: 15px; }
    #comments .comment .container {
      margin: 10px;
      width: auto; }
      #comments .comment .container .comment-title {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 5px;
        width: 100%; }
        #comments .comment .container .comment-title h3, #comments .comment .container .comment-title h5 {
          margin: 0.2em 0; }
        #comments .comment .container .comment-title h5 {
          color: #999999; }

#image-upload-button {
  width: auto;
  max-width: 8em;
  border: 1px solid #e1e1e1; }
  #image-upload-button:hover {
    cursor: hand; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #1DABB8; }

footer {
  background-color: #272727;
  color: white;
  padding: 30px 0;
  text-align: center; }
  footer p {
    margin: 0; }
  footer .container {
    font-size: smaller; }

::selection {
  background-color: #1DABB8; }

/*# sourceMappingURL=style.css.map */
